
version: "3.7"

services:
    nginx:
        build:
          context: ./nginx
          dockerfile: Dockerfile
        restart: always
        volumes:
          - ./prodscripts/env/ssl:/etc/ssl
        ports:
          - 80:80
          - 443:443
        depends_on:
          - api
        networks:
          - frontend-network

    api:
        build: 
          context: ./web
          dockerfile: Dockerfile
        restart: always
        volumes:
          - ./prodscripts/migrations:/web/migrations
        environment:
          - PORT=8000
        command: bash -c "alembic upgrade head && uvicorn app.api.server:app --host 0.0.0.0 --port 8000 --reload"
        env_file:
          - ./prodscripts/env/.env
        expose:
          - 8000
        depends_on:
          - db
        networks:
          - backend-network
          - frontend-network
        
    db:
        image: postgres:13-alpine
        volumes:
          - postgres_data:/db/data
        expose:
          - 5432
        env_file:
          - ./prodscripts/env/.env
        networks:
          - backend-network

volumes:
    postgres_data:
    migrations:
networks:
    backend-network:
    frontend-network: